<%= form_for @offer_music do |f| %>



  <div class="form-group row">
    <label class="form-control-label col-sm-2">제목</label>
    <div class="controls col-sm-6">
      <%= f.text_field :title, class: "form-control"%>
    </div>
  </div>


  <div class="form-group row">
    <label class="form-control-label col-sm-2">가수</label>
    <div class="controls col-sm-6">
      <%= f.text_field :singer, class: "form-control"%>
    </div>
  </div>


  <div class="form-group row">
    <label class="form-control-label col-sm-2">신청자 </label>
    <div class="controls col-sm-6">
      <%= f.text_field :offer_name, class: "form-control"%>
    </div>
  </div>

  <div class="form-group row">
    <label class="form-control-label col-sm-2"> 사연 </label>
    <div class="controls col-sm-6">
      <%= f.text_field :memo, class: "form-control"%>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit (@offer_music.new_record?? "보내기" :  "보내기"), :class => "btn btn-primary" %>
  </div>

<% end %>
